extends layout

block contenido
    .contenido-principal
        h1 #{pageName} - #{project.name}

        form.agregar-tarea(action=`/projects/${project.url}` method='POST')
            .campo
                label(for="name") Task:
                input.nombre-tarea(type="test" name="name" placeholder="Task Name")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="ADD")

        //pre=varDump(tasks)

        .listado-pendientes
            ul
              if tasks.length
                  each task in tasks
                      li.tarea
                          p=task.name
                          .acciones
                              if(task.state)
                                  i.far.fa-check-circle.completo
                              else
                                  i.far.fa-check-circle

                              .fas.fa-trash
              else
                  p there are no tasks in this project
        .contenedor-acciones
            a(href=`/projects/edit/${project.id}`).boton Edit Project
            button#eliminar-proyecto(data-project-url=project.url type="botton" class="boton eliminar") Delete Project
